@inherits LayoutComponentBase


@* @* <header class="jumbotron-pink">
    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-8">
                <h1>Header</h1>
                <p style="padding:40px;"></p>
                <p>bla bla</p>
            </div>
            <div class="col-xs-12 col-sm-4">
            </div>
        </div>
    </div>
</header> *@

<link rel="stylesheet" href="/colores.css">



<BSJumbotron IsFluid="true">

</BSJumbotron>

<BSContainer Container="Container.Large">  </BSContainer>

<h1 class="display-4 color-pink">
        Estudio Contable
    </h1>
        <p class="lead color-gray">
            Bienvenido a nuestro Estudio Contable ubicado en la zona de Monte Grande.
        </p> 
             <NavMenu />
      
    @Body

    <NavFooter />





