@page "/contacto"

@using BlazorBootstrap
@using BlazorStrap
@using BlazorStrap.Components.Model
@using BlazorStrap.Extensions
@using System.ComponentModel.DataAnnotations
@using System.Diagnostics
@using Models

<!DOCTYPE html>
<!-- saved from url=(0052)https://getbootstrap.com/docs/5.3/examples/checkout/ -->
<html lang="en" data-bs-theme="light">
   <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="/color-modes.js.descarga"></script>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/">

<link rel="/stylesheet" href="/css@3">

<link href="/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
<link rel="icon" href="https://getbootstrap.com/docs/5.3/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#712cf9">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/checkout.css" rel="stylesheet">
  </head>
  <body class="bg-bs-theme">
   
    
<div class="container">
  
    <div class="py-5 text-center">
      <h2> Formulario de Consulta</h2>
      <p class="lead">
            Si desea contactarse o gestionar algún trámite complete el formulario.
      </p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
         
        </h4>
      </div>
     
    @*  <EditForm Model ="@email">

     </EditForm> 
      
     <table class= "table">
            <tr>
                <td> Nombre: </td>
                <td><input type="text" @bind="email.Nombre "/></td>
            </tr>
            <tr>
                <td> Apellido: </td>
                <td><input type="text" @bind="email.Apellido "/></td>
            </tr>
            <tr>
                 <td> Nombre Usuario: </td>
                 <td><input type="text" @bind="email.Nombre " /></td>
             </tr>
             <tr>
                  <td> Email: </td>
                  <td><input type="text" @bind="email.Email " /></td>
             </tr>
             <tr>
                 <td> Dirección : </td>
                 <td><input type="text" @bind="email.Direccion" /></td>
             </tr>
             <tr>
                 <td> Dirección 2: </td>
                 <td><input type="text" @bind="email.Direccion2" /></td>
             </tr>
             <tr>
                <td> Pais: </td>
                <td><input type="text" @bind="email.Pais" /></td>
             </tr>
             <tr>
                <td> Provincia: </td>
                <td><input type="text" @bind="email.Provincia" /></td>
             </tr>
             <tr>
                <td> Cuit: </td>
                <td><input type="text" @bind="email.Cuit" /></td>
             </tr>
             <tr>
                <td> Password: </td>
                <td><input type="text" @bind="email.Password" /></td>
              </tr>
              <tr>
                <td> Trámite: </td>
                <td><input type="text" @bind="email.Tramite" /></td>
              </tr>

              <tr>
                  <td> Comentarios: </td>
                  <td><textarea name="comments" cols="15" rows="5"></textarea> </td>
              </tr>


            </table>
      
     @code{
        MailRequest email = new MailRequest();


     }
      
     *@  
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Formulario de Consulta</h4>
                @* <form action="https://formsubmit.co/consultaestudio5c@gmail.com" method="POST" class="needs-validation" novalidate=""> *@
        <form action="https://formsubmit.co/arancibiaflorprogramacion@gmail.com" method="POST" class="needs-validation" novalidate="">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Nombre</label>
              <input type="text" name="nombre" class="form-control" id="firstName" placeholder="nombre" value="" required="">
              <div class="invalid-feedback">
                Validar Nombre.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Apellido</label>
                        <input type="text" name="apellido" class="form-control" id="lastName" placeholder="apellido" value="" required="">
              <div class="invalid-feedback">
                Validar Apellido.
              </div>
            </div>

            <div class="col-12">
@*               <label for="username" class="form-label">Nombre Usuario</label>
              <div class="input-group has-validation">
            <input type="text" name="nombreusuario" class="form-control" id="username" placeholder="Username" required="">
              <div class="invalid-feedback">
                  Validar Nombre de usuario.
                </div>
              </div> *@
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="email@email.com">
              <div class="invalid-feedback">
                Ingresar una dirección de Email.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Dirección</label>
                        <input type="text" name="direccion" class="form-control" id="address" placeholder="calle 1234" required="">
              <div class="invalid-feedback">
                Por favor, ingrese su dirección.
              </div>
            </div>

             @* <div class="col-12">
              @* <label for="address2" class="form-label">Dirección 2<span class="text-body-secondary">(Optional)</span></label>
                        <input type="text" name="direccion2" class="form-control" id="address2" placeholder="Apartment or suite">
                            <div class="invalid-feedback">
                                Por favor, ingrese su dirección 2.
                            </div> 
                        </div>

            <div class="col-md-5">
             <label for="country" class="form-label">Pais</label>
              <select class="form-select" id="country" required="">
                <option value="">Elegir...</option>
                <option>Argentina</option>
              </select>
              <div class="invalid-feedback">
                Seleccinar país válido.
              </div> 
            </div>
                        *@
            <div class="col-md-6">
                            <label for="zip" class="form-label">Provincia</label>
                            <input type="text" name="provincia" class="form-control" id="provincia" placeholder="provincia" required="">
                            <div class="invalid-feedback">
                                Provincia.
                            </div>
                        </div>

            <div class="col-md-6">
              <label for="zip" class="form-label">Localidad</label>
                        <input type="text" name="localidad" class="form-control" id="zip" placeholder="localidad" required="">
              <div class="invalid-feedback">
                Localidad.
              </div>
            </div>
         

          <hr class="my-4">
                
          <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="cuit" class="form-label">Cuit</label>
                            <input type="text" name="cuit" class="form-control" id="cuit" placeholder="123456789" required="">
                        <div class="invalid-feedback">
                            Cuit Válido.
                        </div>
                    </div>         

                    <div class="col-sm-6">
                  @*       <label for="password" class="form-label">Password</label>
                            <input type="text" name="password" class="form-control" id="password" placeholder="" required="">
                            <div class="invalid-feedback">
                                Ingrese contraseña valida.
                            </div>
                   *@   </div>

                    </div>
                    </div>
          <hr class="my-4">

          <h4 class="mb-3">Trámites</h4>

          <div class="my-3">
           @*  <div class="form-check">
              <input id="tramite" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
              <label class="form-check-label" for="impositivo">Impositivo</label>
            </div>
            <div class="form-check">
               <input id="tramite" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="contable">Contable</label>
            </div>
            <div class="form-check">
                <input id="tramite" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="societarios">Societarios</label>
            </div>
             <div class="form-check">
                 <input id="tramite" name="paymentMethod" type="radio" class="form-check-input" required="">
                 <label class="form-check-label" for="monotributo">Monotributo</label>
             </div>

             <div class="form-check">
                 <input id="tramite" name="paymentMethod" type="radio" class="form-check-input" required="">
                 <label class="form-check-label" for="asesoramiento">Asesoramiento</label>
               </div>
            *@

                        <label for="tramite" class="form-label">Trámite</label>
                        <input type="text" name="tramite" class="form-control" id="tramite" placeholder="tramite" required="">
                        <div class="invalid-feedback">
                            Trámite valido.
                        </div>

                    </div>

          <div class="row gy-3">

          </div>

          <div>
                        <tr>
                            <td> Comentarios: </td>
                            <td><textarea name="comentarios" cols="80" rows="5"></textarea> </td>
                        </tr>

          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Enviar Solicitud</button>
        </form>
      </div>
    </div>
  

  <footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">© 2024 - Estudio Contable 5C</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="https://getbootstrap.com/docs/5.3/examples/checkout/#">Privacy</a></li>
      <li class="list-inline-item"><a href="https://getbootstrap.com/docs/5.3/examples/checkout/#">Terms</a></li>
      <li class="list-inline-item"><a href="https://getbootstrap.com/docs/5.3/examples/checkout/#">Support</a></li>
    </ul>
  </footer>
</div>
<script src="/bootstrap.bundle.min.js.descarga" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="/checkout.js.descarga"></script>

</body></html>