@page "/tramites"

@using BlazorBootstrap
@using BlazorStrap
@using BlazorStrap.Components.Model
@using BlazorStrap.Extensions
@using System.ComponentModel.DataAnnotations
@using System.Diagnostics


<h3> Trámites </h3>


<BSButton Color="Color.Danger">danger</BSButton>

@code {

}

